body {
    background: linear-gradient(#a3e0dc, #fceeb2);
    background-size: cover;
    background-attachment: fixed; /* 画面全体に固定 */
}

.border_box {
    padding: 20px 20px;
    background: #fff;
    border-radius: 30px;
}
.Q_box {
    /* display: none; */
    margin: 80px auto 10px;
    width: 60%;
    height: 100%;
    align-items: center;

}
.question {
    background-color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    height: 300px;
    padding: 30px 30px;
    font-size: 25px;
    /* border-radius: 30px; */

    border: 2px solid;
    margin-inline: auto;
    border-image: linear-gradient(to bottom, #FAD21B, #47C7BE) 1;
}

.A_box {
    display: none;
    margin: 80px auto 300px;
    width: 60%;
    height: 100%;
    align-items: center;
}
.advice {
    background-color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    height: 300px;
    padding: 50px 50px;
    font-size: 25px;
    /* border-radius: 30px; */

    border: 2px solid;
    margin-inline: auto;
    border-image: linear-gradient(to bottom, #FAD21B, #47C7BE) 1;

}

.list_box {
    display: none;
    width: 60%;
    height: 100%;
    margin: 80px auto 10px;
}
.list_text {
    background-color: #fff;
    height: 590px;
    padding: 50px 50px;
    display: flex;
    flex-flow: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-size: 20px;
    /* border-radius: 40px; */

    border: 2px solid;
    margin-inline: auto;
    border-image: linear-gradient(to bottom, #FAD21B, #47C7BE) 1;
}
.list_text h2 {
    font-size: 25px;
}
.A_list {
    margin: 10px 0;
    padding: 10px 20px;
    list-style-type: disc; /* 黒点（ディスク）スタイルを追加 */
    overflow-y: scroll;
}
.A_list li {
    margin-bottom: 10px; /* リストアイテム間の余白を追加 */
    text-align: left;
}

.selectAnswer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.YN {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    margin: 40px auto 0;
    font-size: 30px;
}
.YN p:hover {
    border-bottom: 2px solid #fff;
    transform: translateY(3px);
    transform: translateY(3px);
    background-color: #b3b3b3;
}
.yes, .no {
    width: 47%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border-bottom: solid 5px #999;
    transition: 0.2s ease-in-out;
}
.yes {
    background: url(circle.svg) no-repeat #fff center;
}
.no {
    background: url(cross.svg) no-repeat #fff center;
}

.selectButton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}
.button p:hover {
    border-bottom: 2px solid #fff;
    transform: translateY(3px);
    transform: translateY(3px);
}
.return, .next {
    width: 180px;
    height: 70px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
}
.return {
    background-color: #10C0DD;
    border-bottom: solid 5px #226F7C;
}
.return:hover {
    background-color: #069FB9;
}
.next {
    background-color: #F9DD5C;
    border-bottom: solid 5px #908036;
}
.next:hover {
    background-color: #D5BB42;
}
