.box{
    margin: 80px auto 10px auto;
    width: 60%;
    height: 100%;
    align-items: center;
}
.question{
    background-color: hsl(0, 0%, 85%);
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    height: 330px;
    font-size: 20px;
    border-radius: 40px;    /* 角丸指定 */
}
.selectAnswer {
    width: 100%; /* ボタンの幅を100%に */
    height: 100%; /* ボタンの高さを100%に */
    display: flex;
    justify-content: center;
    align-items: center;
    background: none; /* 背景を透明に */
    border: none; /* ボーダーを削除 */
    cursor: pointer; /* カーソルをポインターに */
}
.YN{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    height: 250px;
    margin: 40px auto 0 auto;
    font-size: 30px;
}
.yes, .no{
    background-color: #D9D9D9;
    width: 47%;
    height: 100%; /* 高さを100%に設定 */
    display: flex; /* Flexboxを使用 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    border-radius: 40px;    /* 角丸指定 */
}
.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    /* height: 30px; */
    /* margin: 10px auto; */
    padding: 0 80px;
}
.return, .next{
    width: 180px;
    height: 70px;
    padding: 10px 10px;
    display: flex; /* Flexboxを使用 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    color: #fff;
    border-radius: 50px;    /* 角丸指定 */
}
.return{
    background-color: #10C0DD;
}
.next{
    background-color: #F9DD5C;
}